body{
	background-size: 100%;
	background-attachment: fixed;
}
li{
	
	padding-top: 20px;
	padding: 20px;
	display: inline;
}
a{
	padding: 30px;
	text-decoration: none;
}
#wrapper{
	width: 1330px;
	height: 2000px;
}
#header{
	float: left;
	width: 100%;
	height: 100px;
}
#logo{
	position: fixed;
	font-size: 50px;
	padding: 16px;
	font-family: 'Orbitron', sans-serif;
	width: 200px;
	height: 100px;
}
#navbar{
	float: left;
	margin-top: 20px;
	width: 100%;
	height: 50px;
}
#navbar2{
	padding: 3px;
	margin-left: 40%;
	width: 50%;
	height: 100%;
}
.yazı{
	color: white;
}
.yazı:hover{
	color:#18e7ff;

}
#article{
	margin-top: 5%;
	float: left;
	width: 100%;
	height: 100%;
}
#kutu{
	padding-top: 5px;
	border-radius: 20px;
	margin-left: 25%;
	float: left;
	background-color:rgba(119,136,153,0.60);
	width: 600px;
	height: 650px;
}
#resim{
	border-radius: 5px;
	width: 350px;
	height: 323px;
	margin-left: 20%;
}
.yazı2{
	text-align: center;
	color:#18e7ff;
	font-size: 50px;
	font-family: 'Bangers', cursive;
}
.yazı3{
	text-align: center;
	color: #fff;
	font-size: 18;
font-family: 'Righteous', cursive;
}
#kutu2{
	margin-top: 70px;
	padding-top: 30px;
	border-radius: 20px;
	margin-left: 25%;
	float: left;
	background-color:rgba(119,136,153,0.60);
	width: 600px;
	height: 650px;
}

#başadön{
	border-radius: 20px;
	position: absolute;
	top: 2950px;
	right: 0;
	margin-right: 20px;
	background-color: #005ce8;
	width: 70px;
	height: 70px;
	float: left;
}
.başa{
font-size: 20px;
text-align: center;
margin-top: 20px;
color: white;
}
#kutu3{
	margin-top: 70px;
	padding-top: 50px;
	border-radius: 20px;
	margin-left: 25%;
	float: left;
	background-color:rgba(119,136,153,0.60);
	width: 600px;
	height: 370px;
}
#kutu4{
	margin-top: 70px;
	padding-top: 0px;
	border-radius: 20px;
	margin-left: 25%;
	float: left;
	background-color:rgba(119,136,153,0.60);
	width: 600px;
	height: 1050px;
}
#hakkımızda{
	padding-top: 20%;
	background-color:rgba(119,136,153,0.60);
	margin-top: 20%;
	width: 100%;
	height:450px;
	float: left;
}
.hak{
	font-family: 'Bangers', cursive;
	color: #18e7ff;
	font-size: 30px;
}
.hak2{
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 20px;
}
#başadön2{
	z-index: 50;
	border-radius: 20px;
	position: absolute;
	right: 0;
	background-color: #005ce8;
	width: 70px;
	height: 70px;
	margin-right: 20px;
	float: left;
}
.başa2{
font-size: 20px;
text-align: center;
margin-top: 20px;
color: white;
}
#iletişim{
	padding-left: 0px;
	padding-top: 20%;
	background-color:rgba(119,136,153,0.60);
	margin-top: 20%;
	width: 100%;
	height:450px;
	float: left;
}
.iletişimresim{
	width: 50px;
	height: 50px;
}
#başadön3{
	z-index: 60;
	border-radius: 20px;
	position: absolute;
	right: 0;
	background-color: #005ce8;
	width: 70px;
	height: 70px;
	margin-right: 20px;
	float: left;
}
.basa3{
font-size: 20px;
text-align: center;
margin-top: 20px;
color: white;
}
